<launch>
  <!-- cluster -->
  <node name="clustering_with_ids_node" pkg="clustering_with_ids" type="clustering_with_ids_node" output="screen">
    <!-- Size of the buffer. -->
    <param name="szBuffer" value="200"/> 
    <!-- how many events for the total amount of clusters for every moment-->

    <!-- // Radius to evaluate cluster-event proximity-->
    <param name="radius" value="15"/>
    <!-- It depends on how far is the object we want to track compared to resolution (pixels)
    And specifically,   far-> small     close-> big -->

    <!-- Number of cluster sample points to evaluate the cluster-event proximity-->
    <param name="kappa" value="0.5"/>

    <!-- Moving average weight-->
    <param name="alpha" value="0.8"/>
    
    <!-- Minimum number of points required in a cluster (value depends on mostly if its Night or Day)-->
    <param name="minN" value="15"/>
    
  </node>
</launch>
